.Inputpage {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    /* width: 50%; */

}
.Inputpage h4{
    float: left;
    margin-left: 15px;
}

.Inputpage .input_area {
    margin-top: 20px;
    justify-content: center;
    vertical-align: middle;

}

.Inputpage .input_area .input_field {
    margin-left: 50px;
    width: 35%;
    height: 50px;
    font-size: 20px;
    /* float: left; */
    vertical-align: middle;
    margin-top: 10px;
}


.Inputpage .Create_Button {
    margin-top: 30px;
}

.Inputpage .input_area .form-label{
    float: left;
    margin-right: 20px;
}

.Inputpage .googlemap{
    margin-top: 30px;
}

.Inputpage .autocomplete_input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px !important;
}

.Inputpage .googlemap {
    position: relative;
}
.Inputpage .btn-primary {
    font-size: 25px;
}