.QR_generator {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);

    /* width: 50%; */
}

.QR_generator .QR_area{
    border: 1px solid black;
    height: 70vh;
}

.QR_generator .generate{
    margin-bottom: 0px;
    margin-right: 0px;
}
.QR_generator canvas{
    width: 80%; 
    height: auto;
}